<div class="puppy puppy-chosen" id="{{::vm.puppy.slug}}">
	<div>
		<a href="#/" class="pull-right">
			<span class="glyphicon glyphicon-remove" style="font-size:8vmin;color:#666;"></span>
		</a>
		<div class="clearfix"></div>
	</div>
    <div class="puppy-image">
      <img ng-src="{{::vm.puppy.image}}" alt="{{::vm.puppy.name}}" class="img-responsive">
      <div class="stamp" ng-bind="::label.name" ng-repeat="label in vm.puppy.labels | filter:{'name':'ADOPTED'}"></div>  
    </div>
    <div class="puppy-details">
      <h3 ng-bind="::vm.puppy.name"></h3>
      <div class="puppy-desc" ng-bind="::vm.puppy.desc">
      </div>
      <br>
      <div class="puppy-share">
          <a class="puppy-link" ng-href="https://www.facebook.com/sharer/sharer.php?u={{::location.absUrl()}}" target="_blank">
              <span class="fa fa-facebook-square"></span>
          </a>
          <a class="puppy-link" ng-href="https://twitter.com/home?status=Check%20out%20{{::vm.puppy.name}}%20on%20AdoptThemPuppies. {{::location.absUrl()}}" target="_blank">
              <span class="fa fa-twitter"></span>
          </a>
          <a class="puppy-link" ng-href="mailto:adoptthempuppies@gmail.com?subject=Know more about '{{::vm.puppy.name}}'" target="_blank">
             <span class="fa fa-envelope"></span>	
          </a>
      </div>
    </div>
</div>